# Java - Class Files
*.class

# Java - Package Files
*.jar
*.war
*.ear

# IntelliJ - User-specific stuff:
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/vcs.xml

# IntelliJ - Sensitive or high-churn files:
**/.idea/dataSources.ids
**/.idea/dataSources.xml
**/.idea/dataSources.local.xml
**/.idea/sqlDataSources.xml
**/.idea/dynamic.xml
**/.idea/uiDesigner.xml

# IntelliJ - File-based project format:
*.iws

# IntelliJ - Temp build folder
out/

# Mac - Hidden files
*.DS_Store
~.DS_Store

# Windows - Hidden files
Thumbs.db
